<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<title>Thrivy</title>-->
    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div th:replace="fragments/header-list-stats :: header-list-stats"/>

<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-windows"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Environment Monitors </h2>
                                    <p>Historical data collected from the devices <span class="bread-ntd"> .. </span></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                    <div class="website-traffic-ctn text-center">
                        <!--<h2>Device Details</h2>-->
                        <strong id="devid"> </strong>
                        <p id="lastseen"></p>
                        <p id="count"> </p>
                        <p id="errors"></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                    <div class="website-traffic-ctn text-center">
                        <!--<h2>Operational Data</h2>-->
                        <p id="lastsig"></p>
                        <p id="devbat"></p>
                        <p id="doorcnt"></p>
                        <p id="powercnt"></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                    <div class="website-traffic-ctn text-center">
                        <!--<h2>Device Status</h2>-->
                        <p id="devtemp"></p>
                        <p id="devhum"></p>
                        <p id="doorstat"></p>
                        <p id="powerstat"></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30">
                    <div class="website-traffic-ctn text-center">
                        <!--<h2>Data</h2>-->
                        <p id="heightstat"></p>
                        <p id="devstatus"></p>
                        <p id="memory"> </p>
                        <p id="msgtype"> </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="datepicker-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form id="historyChecker">
                    <div class="datepicker-int mg-t-30">
                        <div class="cmp-tb-hd">
                            <!--<h2>Date Picker</h2>-->
                            <p>Device Selector and Date picker to view historical data beyond the collected 12 hours</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group nk-datapk-ctm form-elet-mg">
                                    <div class="nk-int-mk sl-dp-mn">
                                        <h2>Select Device</h2>
                                    </div>

                                    <div class="bootstrap-select fm-cmp-mg">
                                        <select id="deviceid" onchange="loadLatestData();" class="devicepicker" th:field="*{device}">
                                            <!--<option value="">Select Device Type</option>-->
                                            <option th:each="dev : ${device}"
                                                    th:value="${dev.id}"
                                                    th:text="${dev.id}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group nk-datapk-ctm form-elet-mg" id="data_1">
                                    <label>Start</label>
                                    <div class="input-group date nk-int-st">
                                        <span class="input-group-addon"></span>
                                        <input id="startDate" required type="text" class="form-control" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group nk-datapk-ctm form-elet-mg" id="data_2">
                                    <label>End</label>
                                    <div class="input-group date nk-int-st">
                                        <span class="input-group-addon"></span>
                                        <input id="stopDate" required type="text" class="form-control" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group nk-datapk-ctm form-elet-mg" id="">
                                    <label>Submit Period</label>
                                    <div class="input-group date nk-int-st">
                                        <button type="submit" class="btn btn-success btn-block notika-btn-success waves-effect">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="line-chart-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="line-chart-wp chart-display-nn">
                    <canvas height="140vh" width="180vw" id="lightlevelchart"></canvas>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="line-chart-wp sm-res-mg-t-30 chart-display-nn">
                    <canvas height="140vh" width="180vw" id="batterylevelchart"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="line-chart-wp mg-t-30 chart-display-nn">
                    <canvas height="140vh" width="180vw" id="templevelchart"></canvas>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="line-chart-wp mg-t-30 chart-mg-nt">
                    <canvas height="140vh" width="180vw" id="humiditylevelchart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

<script th:src="@{js/charts/Chart.js}"></script>
<script th:src="@{js/controllers/emdCtrl.js}"></script>

</body>
</html>